.ipynb_*
deck-analysis.pbix
0*.ipynb
data/*
pics/*
logs/*
elemt.txt
poetry.lock
*DS_Store*
*__pycache__*
AllPrintings.json
SetList.json
cards_links_list.pkl
*.png
*.jpg
*.jpeg
*.html
*.json
*.log
*.sqlite
*.scrapy/
*.env
scraper/scraper/logs